@use "../variables/" as *;
@use "../functions/" as *;




.region_title h1 {
  text-align: center;
  margin: $spacing-y-lg;
}




.region_introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}




.region_carousel {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;




  button {
    border: none;
    cursor: pointer;
    background-color: $background;
  }
}




.carousel-image {
  display: block;
  max-width: 30vw;
  height: auto;
  border-radius: $rad-md;
}


.region_introduction{
     position: relative;
  /* 寬度 100%，高度依比例撐開 */
  background: url("/images/Find_schedule/greenBg.png") no-repeat top center / 100% auto;
  /* 用比例把容器撐到跟圖一樣高（假設圖是 1440x600 → 600/1440≈41.7%）*/
  padding-bottom: 5%;
  background-position: 50% -20px;
  min-height: 0;    
}
.region_txt {
  padding-top: 50px;
  text-align: center;
}




.travelCard {
  padding-top: 80px;
  gap: $spacing-lg;
  justify-items: center;
  padding-bottom: $spacing-ex;
}









