@use "../variables/" as *;
@use "../functions/" as *;




.home-bg {
    background-color: $background;
}

.home-wrap {
    aspect-ratio: 1920/900;
    margin: 0 auto;
    margin-top: 42px;
}

// 單純用flex並排
.home-top {
    display: flex;
    position: relative;
}

.home-heading {
    width: $w-40;
    margin-left: 30px;
    margin-top: 200px;
    margin-bottom: 250px;

    h2 {
        font-size: $f-s-xxxxxl;
        font-family: $family-tc;
        letter-spacing: 0.1rem;
        padding-left: 40px;
        font-weight: $f-w-m;
        color: $dark;
    }

    .arrow {
        width: 4%;
        margin-top: 25px;
        margin-left: 60px;
    }
}

.stall-wrap {
    // margin-right: 100px;
    width: $w-60;
    position: relative;
    flex: 1;

    .stall-item {
        display: flex;

        .stall-first {
            position: absolute;
            width: $w-50;
        }

        .stall-second {
            width: $w-60;
            position: absolute;
            left: 35%;
            top: 22%;
        }

        .stall-third {
            width: 40%;
            position: absolute;
            top: 42%;
            left: 5%;
        }
    }

    .date-box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: DM Sans;
        color: $dark;
        font-size: $f-s-xxxxl;
        position: absolute;
        bottom: 10%;
        left: 50%;

        .slash {
            width: 2px;
            height: 5rem;
            background-color: $dark;
            transform: rotate(40deg);
            margin-left: 10px;
            margin-top: 60px;
        }

        .day {
            margin-left: 20px;
            margin-top: 100px;
        }

        .weekday {
            font-weight: $f-w-m;
            margin-top: 100px;
            margin-left: 20px;
        }

        .weather {
            width: 65px;
            height: 65px;
            margin-top: 90px;
            margin-left: 20px;
        }

        .temptemperature {
            margin-left: 20px;
            margin-top: 90px;
        }

        .situation {
            font-size: $f-s-xs;
            margin-left: 20px;
            margin-top: 110px;
        }
    }
}

// 第二塊
.home-hot {
    text-align: center;
    font-family: $family-tc;
    color: $dark;
    margin-bottom: 60px;

    h3 {
        font-size: $f-s-xxxxl;
    }

    p {
        font-family: $family-en;
        font-size: $f-s-xl;
    }

    ;
}

.pic-wrap {
    max-width: 1500px;
    margin: 0 auto;

    .home-pic {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        .home-pic-fsb {
            max-width: 750px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .home-pic-item {
                display: flex;
                justify-content: space-between;
                .type-img-one{
                    width: 49%;
                }

                .type-img-tw {
                    width: 49%;
                }

            }
        }

        .home-pic-se {
            max-width: 750px;
            display: flex;
            justify-content: space-between;
            gap: 16px;
            width: 50%; 



            .type-img {
                margin-bottom: 16px;
            }
        }

        img {
            // max-width: 100%; 
            height: auto; 
            border-radius: 20px;
            object-fit: cover;
            display: block;
        }
    }
}

.home-blog {
    margin-top: 112px;
    margin-right: 350px;
    text-align: center;
    color: $dark;
    transform:rotate(5deg);
    h3 {
        font-family: $family-display;
        font-size: $f-s-xxxxl;
        display: inline-block;
    }
}