@use '../variables/' as *;
@use '../functions/' as *;

.hr_square_deco{
    width: 100%;
    height: 70px;
    background-image: url(./images/My_footprint/hr_square_deco.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footprint_content_box{
    @extend %flex-space-between;
}

.user_sidebar_left{
    display: flex;
    flex-direction: column;
}

.footprint_content {
    display: flex;
    flex-direction: column;

    .footprint_result {
        width: 40%;
    }
}
