@use '../variables/' as *;
@use '../functions/' as *;

.my_footprint_main{
     background-color: $background;
    // height: $h-100vh;
    padding: $spacing-xl;
    @extend %main_font-family_setting;
    color: $text;
}

.hr_square_deco {
    width: 100%;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.footprint_content_box {
    @extend %flex-space-between;
    align-items: flex-start
}

.user_sidebar_left {
    @extend %flex-column;
    align-items: center;
    padding: $spacing-md;
    width: $w-100;
    background-color: $secondary;

    .sidebar_item {
        display: flex
    }

    .pageToggle {
        // border: 1px solid $black;
        width: 21px;
        height: 21px;
        margin-right: $spacing-md;
        background-color: $white;
    }

}


.footprint_content {
    @extend %flex-column;

    .footprint_result {
        width: 45%;
    }
}