@use '../variables/' as *;
@use '../functions/' as *;








.stall_map_main {
    height: 100%;




    .stall_map_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: $spacing-md;
    }
















    .stall_map {
        border: 5px solid $secondary;
        width: $w-60;
        height: 400px;
        background-color: $white;
        @extend %flex-center;
    }








    .type_btn_box {
    display: flex;
    gap: 30px;
    justify-content: center;


    button {
        @extend %remove_form_style;
        cursor: pointer;
        img{
            margin-bottom: 5px;
        }


        span {
            position: relative;
            margin-top: 5px;
            padding:0 6px;


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.4s;
                z-index: -1;
            }


            /* 修正：將 .active 移到 span 的巢狀內 */
            &.active {
                &::before {
                    transform: scaleX(1); //背景填滿
                }
            }
        }
    }


    /* 不同按鈕的顏色設定 */
    .btn1 span::before,
    .btn1 span.active::before {
        background-color: #E5BE23;
    }
    .btn2 span::before,
    .btn2 span.active::before {
        background-color: #D06658;
    }
    .btn3 span::before,
    .btn3 span.active::before {
        background-color: #8ACEC6;
    }
    .btn4 span::before,
    .btn4 span.active::before {
        background-color: #53B99F;
    }
    .btn5 span::before,
    .btn5 span.active::before {
        background-color: #ED9B4A;
    }
    .btn6 span::before,
    .btn6 span.active::before {
        background-color: #EAABAB;
    }
}








    .stall_search_box {
        border-radius: $rad-lg;
        padding: $spacing-xl 60px;
        width: $w-60;
        height: 875px;
        background-color: $white;
        overflow: hidden;








        .stall_search_filter {
            display: flex;








            background-color: $white;
            height: 40px;
            gap: 15px;








            input,
            select,
            button {
                @extend %remove_form_style;
            }








            .search_box {
                border-radius: $rad-lg;
                border: 1px solid $black;
                @extend %flex-center;
                height: 30px;




            }








            .btn_box {
                display: flex;
                gap: 15px;








                button {
                    display: flex;
                    cursor: pointer;
                    background-color: $accent;
                    border-radius: $rad-ex;
                    width: 80px;
                    height: 30px;
                    @extend %flex-center;
                    color: $white;
                    font-size: $f-s-sm ;
















                    img {
                        width: 15px;
                        height: auto;
                    }
                }
            }








            .select {
                background-color: $primary;
                border-radius: $rad-ex;
                width: 90px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;








                select {
                    padding-top: 1px;
                    color: $text;
                    font-size: $f-s-md ;
                    font-weight: $f-w-b;
                }
            }
        }








        .stall_search_result {
            width: 100%;
            padding-top: $spacing-xl;
            @extend %flex-wrap;
            justify-content: flex-start;
            gap: $spacing-lg;
            overflow: auto;
            height: 800px;








        }
    }




    /* 攤位卡片 */
    .stall_card {
        width: 230px;
        height: 300px;
        border-radius: $rad-lg;
        overflow: hidden;
        border: 1px solid $text;




        p {
            font-size: $f-s-xs;
        }




        .stall_card_wrap {
            display: flex;
            height: 145px;
            flex-direction: column;
            justify-content: space-between;
            outline: 1px solid $text;
            background-color: #ccc;




            .top {
                display: flex;
                justify-content: space-between;
                margin: $spacing-xs;




                .like,
                .num {
                    background-color: $accent;
                    width: 45px;
                    height: 17px;
                    border-radius: $rad-ex;
                    color: $white;
                }




                .like {
                    display: flex;
                    padding: 0 5px;
                    gap: 5px;
                    justify-content: center;
                    align-items: center;




                    p {
                        padding-top: 1px;
                    }




                    img {
                        padding-top: 1px;
                        width: 12px;
                    }
                }




                .num {
                    @extend %flex-center;




                    p {
                        padding-top: 2px;
                    }
                }
            }




            .bottom {
                display: flex;
                margin: $spacing-xs;
                gap: $spacing-xxs ;




                p {
                    background-color: $accent;
                    color: $white;
                    @extend %flex-center;
                    width: 56px;
                    height: 18px;
                    border-radius: $rad-ex;
                }
            }
        }




        .stall_card_body {
            .title {
                @extend %flex-center;
                height: 33px;
                padding: 0 $spacing-xs;




                p {
                    font-weight: $f-w-b;
                    font-size: $f-s-md;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;


                    &:hover {
                        display: initial;
                    }
                }








            }




            button,
            input {
                @extend %remove_form_style;
            }




            .btn_box {
                display: flex;
                gap: $spacing-xxs;
                justify-content: center;




                .like_btn_box,
                .social_btn_box {
                    width: 100px;
                    height: 25px;
                    border-radius: 5px;
                }




                .like_btn_box {
                    background-color: $accent;
                    @extend %flex-center;




                    button {
                        color: $white;
                        @extend %flex-center;
                        gap: $spacing-xs;
                        width: $w-100;
                        cursor: pointer;


                        img {
                            width: 20px;
                        }
                    }
                }




                .social_btn_box {
                    background-color: $dark;
                    @extend %flex-center;
                    gap: $spacing-xxs;




                    button {
                        img {
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }




            .review_box {
                @extend %flex-center;
                height: 30px;




                .review {
                    border-radius: 3px;
                    border: 1px solid black;
                    width: 210px;
                    height: 17px;
                    display: flex;




                    input {
                        width: 100%;
                        height: 100%;
                    }
                }
            }




            .stall_card_review {
                p {
                    font-size: $f-s-lg ;
                    font-weight: $f-w-b;
                    color: $gray-600;
                    @extend %flex-center;
                }








            }




        }
    }


    /* 攤位陣列 */
    .stalls_1 {
        display: flex;
        gap: $spacing-lg;


        .stall_wrap1 {
            padding: $spacing-md;
            border: 2px dashed $gray-600;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $spacing-md;
            width: 150px;
            place-items: center;
            border-radius: 10px;
        }


        .stalls_2 {
            @extend %flex-column;
            gap: $spacing-lg;


            .stall_wrap2 {
                padding: $spacing-md;
                border: 2px dashed $gray-600;
                display: flex;
                gap: $spacing-md;
                justify-content: center;
                border-radius: 10px;
            }


            .stalls_3 {
                display: flex;
                gap: $spacing-md;
            }


            .stall_wrap3,
            .stall_wrap4 {
                padding: $spacing-md;
                border: 2px dashed $gray-600;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: $spacing-md;
                border-radius: 10px;
            }
        }
    }




    /* 圖片裝飾 */
    .stall_map_img1,
    .stall_map_img2,
    .stall_map_img3,
    .stall_map_img4 {
        position: absolute;
    }




    .stall_map_img1 {
        z-index: 1;
        right: 200px;
        top: 200px;




    }




    .stall_map_img2 {
        z-index: 1;
        right: 130px;
        bottom: -760px;
    }




    .stall_map_img3 {
        z-index: 1;
        bottom: -760px;
        left: 35px;
    }




    .stall_map_img4 {
        z-index: -2;
        top: 400px;
        left: 0px;
        width: 90%;
    }








    .stall_box {
        position: relative;
        display: inline-block;


        .stall_icon {
            width: 40px;


            img {
                width: 100%;
                object-fit: cover;
            }
        }




        &:hover {
            .tooltip_card {
                display: block;
            }
        }
    }




    .tooltip_card {
        display: none;
        position: absolute;
        top: -220px;
        /* 放在上方，避免擋住圖片 */
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;




    }




    .stall_map_card_sm {
        width: 190px;
        height: 220px;
        border-radius: $rad-lg;
        background-color: $white;
        border: 1px solid $black;
        overflow: hidden;
        display: none;
        display: inline-block;




        .sm_card_wrap {
            height: 135px;
            background-color: #ccc;
            border-bottom: 1px solid $black;




            .top {
                display: flex;
                justify-content: space-between;
                padding: 10px;




                figure {
                    @extend %flex-center;
                    background-color: $accent;
                    color: $white;
                    width: 60px;
                    border-radius: $rad-ex;




                    gap: 10px;




                    img {
                        width: 12px;
                    }
                }




                .num {
                    @extend %flex-center;
                    background-color: $accent;
                    color: $white;
                    width: 60px;
                    border-radius: $rad-ex;




                }
            }
        }




        .body {




            .title {
                @extend %flex-center;
                height: 33px;
                padding-top: 3px;




                p {
                    padding: 0 $spacing-xs;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: $f-w-b;
                    font-size: $f-s-md;


                    &:hover {
                        display: initial;
                    }
                }
            }




            .tag_box {
                display: flex;
                gap: 10px;
                padding: 0 $spacing-xxs;
                margin-top: $spacing-xxs;




                p {
                    @extend %flex-center;
                    width: 55px;
                    border-radius: $rad-ex;
                    background-color: $accent;
                    color: $white;
                    padding: 0 1px;
                }
            }
        }
    }
}



