@use '../variables/' as *;

%main_font-family_setting {
    font-family: "DM Sans", "Noto Sans TC", san-serif;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%remove_form_style {
    border: none;
    outline: none;
    background: none;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

%multiple-lines {
    // 文字的多行省略
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%text-center {
    text-align: center;
    line-height: 100%;
}

%section-basic {
    background-color: $primary-200;
    border-radius: $rad-basic;
    overflow: hidden;
    padding-bottom: $spacing-lg;
    margin-bottom: 80px;
}

%input-text-basic {
    display: block;
    padding: 0 $spacing-sm;
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: $rad-md;
    margin-top: $spacing-xxs;
}