// color

// brand color
// accent
$accent: #ED972E;

$accent-200: #FFB850;
$accent-300: #FFAD45;
$accent-400: #FAA239;
$accent-500: $accent;
$accent-600: #E08C22;
$accent-700: #D48214;
$accent-800: #C77700;

// primary
$primary: #CBD4C1;

$primary-200: #E5EEDA;
$primary-300: #D8E1CD;
$primary-400: #CBD4C1;
$primary-500: $primary;
$primary-600: #BEC7B4;
$primary-700: #BEC7B4;
$primary-800: #BEC7B4;

// secondary
$secondary: #DEBFA0;

$secondary-200: #FFE6C6;
$secondary-300: #F9D9B9;
$secondary-400: #EBCCAC;
$secondary-500: $secondary;
$secondary-600: #D1B294;
$secondary-700: #C4A688;
$secondary-800: #B79A7C;

// background
$background: #FDF7EB;

// text
$text: #39413A;

$text-200: #F2F2F2;
$text-300: #DBDCDB;
$text-400: #B8BBB8;
$text-500: $text;
$text-600: #757B76;
$text-700: #565D57;
$text-800: #39413A;

// dark
$dark: #413B35;

// basic color system
// neutral
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// color palette
$colors: (
    'accent': $accent,
    'primary': $primary,
    'secondary': $secondary,
    'background': $background,
    'text': $text,
    'dark': $dark,
    'white': $white,
    'gray': $gray-500,
    'black': $black,
);

// alpha
$alpha-10: 0.1;
$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-30: 0.4;
$alpha-50: 0.5;
$alpha-60: 0.6;
$alpha-70: 0.7;
$alpha-80: 0.8;
$alpha-90: 0.9;
$alpha-100: 1;