// font-family
$family-en: "DM Sans", san-serif;
$family-tc: "Noto Sans TC", san-serif;
$family-display: "ChenYuluoyan-2.0-Thin", cursive;

// font-size
$f-s-xs: .75rem;
$f-s-sm: .875rem;
$f-s-md: 1rem;
$f-s-lg: 1.25rem;
$f-s-xl: 1.5rem;
$f-s-xxl: 1.75rem;
$f-s-xxxl: 2rem;
$f-s-xxxxl: 2.25rem;
$f-s-xxxxxl: 2.5rem;
$f-s-ex: 4rem;

// font-weight
$f-w-r: 400;
$f-w-m: 500;
$f-w-b: 700;

// line-height
$line-height-basic: 150%;