@use '../variables/' as *;
@use '../functions/' as *;

.FooterBox {
    background-color: $background;
    background-image: url(../../images/Footer/Footer.svg);
    background-size: cover;
    overflow: hidden;
    padding: $spacing-ex $spacing-xl $spacing-xs;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sitemap {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-lg;
    color: $white;

    $icons: find_type, find_map, find_schedule, blog, about, user;

    @each $icon in $icons {

        .#{$icon} .sitemap_item_content{
            // display: flex;
            // gap: 8px;
            // justify-content: center;
            padding: $spacing-xs $spacing-sm;
        }

        .#{$icon} img {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 8px;
            margin-bottom: 1px;
        }
    }
}

.copyright {
    align-self: center;
    color: $white;
    margin-top: $spacing-xl;
}