@use '../variables/' as *;
@use '../functions/' as *;

.FooterBox {
    position: relative;
    // background-color: $background;
    background-image: url(../../images/Footer/Footer.svg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
    padding: $spacing-ex $spacing-xl $spacing-xs;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $family-tc;
}

.sitemap {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: $spacing-lg;
    color: $white;

    $icons: find_type, find_map, find_schedule, blog, about, user;

    @each $icon in $icons {

        a {
            color: $white;
        }

        .#{$icon} .sitemap_item_content {
            // display: flex;
            // gap: 8px;
            // justify-content: center;
            padding: $spacing-xs $spacing-sm;


            img {
                display: inline-block;
                vertical-align: bottom;
                margin-right: 8px;
                margin-bottom: 1px;
            }

        }

    }
}

.copyright {
    align-self: center;
    color: $white;
    margin-top: $spacing-xl;
}