@use '../variables/' as *;
@use '../functions/' as *;




.home-card {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;


    .home-card-item {
        @extend %flex-column;
        margin-left: 28px;




        p {
            color: $gray-600;
        }








        span {
            padding-left: 20px;
            color: $gray-600;
        }








        .home-card-p {
            p {
                color: $text;
            }
        }
    }
















    .card-txt {
        display: flex;
    }
}

