  @use '../variables/' as *;
  @use '../functions/' as *;

  .topbar {
      position: fixed;
      top: 0;
      left: 0;
      width: $w-100;
      z-index: $z-ex;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: $spacing-md;

      .logo {
          width: 60px;

          @media ($mediaSm) {
              width: 50px;
          }
      }

      .navbar {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
      }

      .hamburger {
          background-color: transparent;
          border: none;
          //   margin-bottom: $spacing-xs;
          @extend %flex-column;
          align-items: flex-end;
          gap: $spacing-sm;
          margin-bottom: $spacing-xxs;
          margin-top: $spacing-xxs;

          @media ($mediaSm) {
              gap: $spacing-xs;
          }

          .bar {
              display: block;
              height: 2px;
              background-color: $dark;
              transition: all 0.5s ease;

              @media ($mediaSm) {
                  transform: scale(.8);
                  margin-left: auto;

                  &:first-child {
                      margin-top: $spacing-xs;
                  }
              }
          }

          &.is-active {

              .bar {

                  &:nth-child(1) {
                      transform: rotate(20deg) translate(7px, 9px);
                  }

                  &:nth-child(2) {
                      opacity: 0;
                  }

                  &:last-child {
                      transform: rotate(-20deg) translate(10px, -20px);
                      width: 80px !important;
                  }
              }
          }

      }

      .navigation {
          background-color: $white;
          border-radius: $rad-md;
          padding: $spacing-sm $spacing-md;
          display: none;
          @include ani-basic($name: hide, $duration: 0.5s);

          //   a {
          //       margin-bottom: 0.2rem;
          //   }

          p {
              color: $accent;
          }

          &.show {
              display: block;
              @include ani-basic($name: show, $duration: 0.5s);
          }
      }

  }

  .user_menu_button {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      font-size: $f-s-md;
      $line-height-basic: 150%;
      letter-spacing: .08em;
      cursor: pointer;

      .sitemap_item_content {
          display: flex;
          align-items: flex-start;
      }
  }

  .user_dropdown {

      a {
          padding-left: $spacing-md;
          margin-bottom: $spacing-xs;
          color: $accent-200;
      }

      button {
          margin-left: $spacing-md;
          @extend %remove_form_style;
          background-color: $accent;
          color: $white;
          padding: $spacing-xxs $spacing-md;
          border-radius: $rad-basic;
          cursor: pointer;
      }
  }