@import url(../globalStyle.css);

* {
    box-sizing: border-box;
}

.buttonBox {
    display: block;
    user-select: none;
}

.outerButton {
    display: inline-block;
    justify-content: center;
    background-color: var(--accent);
    padding: 5px 5px;
    border-radius: var(--exRadius);
    box-shadow: 10px 10px var(--dark);
    cursor: pointer;
    transition: all 0.2s ease;
}

.outerButton:hover {
    background-color: var(--accent-dark);
    box-shadow: 8px 8px;
}

.outerButton:active {
    translate: 8px 8px;
    box-shadow: 0 0;
}

.innerButton {
    display: block;
    border: solid 3px white;
    border-radius: var(--exRadius);
    text-align: center;
    font-size: 20px;
    font-family: 'DM Sans';
    font-weight: 700;
    color: white;
    padding: 10px 30px;
}