*{
    box-sizing: border-box;
}

.pageTop_box{
    width: 102px;
    z-index: 99;
}

.pageTop_link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pageTop_text{
    position: absolute;
    top: 0;
    left: 0;
}

.pageTop_finger{

    z-index: 1;
    position: relative;
    height: 40px;
}


